@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 8%);
  --foreground: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
  --muted: hsl(0, 0%, 20%);
  --accent: hsl(0, 0%, 12%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 8%);
    --foreground: hsl(0, 0%, 100%);
    --green: hsl(75, 94%, 57%);
    --muted: hsl(0, 0%, 20%);
    --accent: hsl(0, 0%, 12%);
  }
}
